
header{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f9fafc;
    margin: 0px;
    padding: 10px;
}

.header .menu ul{
    margin-left: 0px;
    text-align: left;
    padding-left: 0;

}

.header .menu li{
    margin-bottom: 10px;
    list-style: none;
    color: #69696a;
    text-decoration-line: none;
    text-align: left;
    margin-top: 5px;
}

.header .menu li a{
    color: #000;
    text-decoration: none;
}
.header .menu li a:hover{
    color: #a0a0a0;
}

.button1{
    background-color: #000;
    padding: 10px 20px;
    border-radius: 20px;
    color: #FFF;
    text-align: center;
    width: 100%;
    border: 0;
    cursor: pointer;
}
.button1:hover, .button2:hover{
    background-color: #333;
}
.button1:focus, .button2:focus{
    outline: none;
}
.main-section .content h2{
    font-family: 'Open Sans', sans-serif;
}
.main-section .content p{
    border-left: 3px solid black;
    padding: 10px;
    margin-left: 0px;
}

.button2{
    background-color: #000;
    padding: 10px 20px !important;
    border-radius: 20px;
    color: #FFF;
    border: 0;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.header .logo h4{
    margin-top: 0;
    margin-bottom: 0;
}

@media (min-width: 769px){
    .header {
        align-items: center;
        justify-content: space-between;
    }

    .header .logo{
        display: inline-block;
    }
    .header .menu, .header {
        display: flex;
    }

    .header .menu ul{
        display: -webkit-inline-box;
    }
    .button2{
        width: auto;
        position: absolute;
        bottom: 5px;
    }
    .scroll-down{
        display: flex;
        justify-content: center;
    }
    .main-section p{
        width: 50%;
    }
    .main-section{
        padding: 10px 0;
        margin-top: 50px;
    }
    .main-section .content{
        display: flex;
        padding-right: 20px;
    }
    .large-circle{
        height: 200px;
        width: 200px;
        background-color: rgba(247, 136, 167, 0.6);
        border-radius: 50%;
        position: absolute;
        right: 40px;
    }
    .small-circle {
        height: 100px;
        width: 100px;
        background-color: rgba(207, 130, 213, 0.6);
        border-radius: 50%;
        position: absolute;
        right: -20px;
        top: 72px;
    }
    .medium-circle{
        height: 140px;
        width: 140px;
        background-color: rgba(247, 193, 162, 0.7);
        border-radius: 50%;
        position: absolute;
        right: 0px;
        z-index: 1;
        bottom: -85px;
    }
    .circles{
        width: 50%;
        position: relative;
        padding: 20px;
    }
    .header .menu li{
        padding: 0px 8px;
    }

}


